body{
    margin: 0;
    padding: 0;
    height: 100%;
}


/*footer*/
footer{
    min-height: 60vh;
    background-color: black;
    color: white;
    width: 100%;
    
}

#footer_box{
    padding: 40px 80px 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_logo{
    height: 120px;
    width: 240px;
}

.footer_socialmediaicons i{
     margin: 10px;
     font-size: 25px;
}

.footer_socialmediaicons{
    margin: 20px 100px 5px 100px;
}

.contact_section{
   width: 350px;
}

/*contact section*/

.contact_section p i{
   margin-top: 5px;
}

/*map*/
.map-section{
    background-color: brown;
}
#map { 
    height: 40vh;
    width: 400px;
    
}

/*Styles For Mobile devices*/
@media only screen and (max-width: 767px){
    #footer_box{
        display: block;
    }

    #footer_box{
       padding: 20px 60px 20px 60px;
    }

    .footer_socialmediaicons{
        margin: 5px 80px 5px 80px;
    }
};

/*Styles For Tablet devices*/
@media only screen and (max-width:768px){

}

